* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.fundo {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    
}

.HUD1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100;
}

.luzvelas{
position: absolute;
width: 90%;
bottom: 0%;
left: 10%;
z-index: 2;

}

.radar{
    position: absolute;
    width: 25%;
    top: 15%;
    right: 38.25%;
    z-index: 0;
}

.HUD2{
    position: absolute;
    top: 0%;
    width: 50%;
    left: 23.75%;
    z-index: 2;
}

.jornal {
    position: absolute; 
    z-index: -1;
    width: 25%;
    top: 10%;
    left: 2%;
}

.placa {
    position: absolute;
    left: 28%;
    width: 9%;
    top: 10%;
}

.livro {
    position: absolute;
    left: 360px;
    top: 380px;
    width: 15%;
}

@font-face {
    font-family: 'PixelFJVerdana12pt';
    src: url('fonts/PixelFJVerdana12pt.ttf') format('truetype');
}

.textos {
    position: absolute;
    z-index: 8;
    color:brown;
    font-size: 170%;
    font-family:'PixelFJVerdana12pt', sans-serif;
    direction: ltr;
    text-align: left;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;  
}
.textos::-webkit-scrollbar {
    width: 0; /* Oculta a barra de rolagem */
    background: transparent; /* Fundo transparente */
}

.botao1{
    position: absolute;
    right: 25%;
    font-size: 20px;
    top: 20%;
    z-index: 5;;
}

.botao2{
    position: absolute;
    right: 25%;
    scale: 100%;
    font-size: 20px;
    top: 40%;
    z-index: 5;    ;
}

.sombra{
    position: absolute;
    width: 100%;
    bottom:  0%;
    opacity: 0%;
    z-index: 3;
}

.cranioA{
    position: absolute;
    width: 15%;
    bottom: 1%;
    left: 0%;
}

.medalhas {
    position: absolute;
    left: 28%;
    top: 35%;
    width: 10%;
}

.container{
    position: absolute;
    left: 19%;
    bottom: 5%;
    right: 23%;
    padding: auto;
    height: 20%;
}

.consequencias {
    position: absolute;
    top: 17.5%; /* 50% da altura da div pai (jornal) */
    left: 3.5%; /* 50% da largura da div pai (jornal) */    
    height: 40%;
    width: 22%; /* Ajusta a largura para se adequar ao espaço */
    color: black;
    z-index: 5; /* O texto vai aparecer sobre a imagem do jornal */
    text-align: left; /* Centraliza o texto dentro da div */
}

.filtroM {
    position: absolute;
    z-index: 5;
    bottom: 0%;
    opacity: 100%;
    width: 100%;
}

.Caixatitulo {
    position: absolute;
    display: flex;
    text-align: center;
    z-index: 4;
    right: 3.5%;
    left: 85%;
    bottom: 6%;
    color: green;
    height: 17.5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: "Press Start 2P", cursive;
    text-shadow: 
    2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black;
}

.titulo1 {
    position: relative;
    z-index: 4;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;

}